CIRCUITPY_WIFI_SSID     = "<CIRCUITPY_WIFI_SSID>"
CIRCUITPY_WIFI_PASSWORD = "<CIRCUITPY_WIFI_PASSWORD>"
ADAFRUIT_AIO_USERNAME   = "<ADAFRUIT_AIO_USERNAME>"
ADAFRUIT_AIO_KEY        = "<ADAFRUIT_AIO_KEY>"
